<div class="container">
    <div class="border"></div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <p class="quicklinks">Copyright WCS & Wilders <img src="https://wildcodeschool.fr/wp-content/uploads/2017/01/logo_orange_pastille.png"  alt="Brand" width="20"/> </p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <p class="quicklinks">The Movie - API OMDb</p>
    </div>
</div>