<div class="row text-center">
    <nav class="navbar navbar-center" role="navigation">
        <a class="navbar-brand" href="/">Film</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Accueil</a></li>
            <li>
                <form class="navbar-form navbar-inverse bg-primary jumbotron" role="search" action="" method="post">

                    <div class="form-group">
                        <label for="title">Titre</label>
                        <input type="text" class="form-control" placeholder="Search a movie, series ..." name="title" id="exampleInput1">
                    </div>

                    <div class="form-group">
                        <label for="type">Type de vidéo</label>
                        <select class="form-control" id="exampleSelect1" name="type">
                            <option value="">Type</option>
                            <option value="movie">Film</option>
                            <option value="serie">Série</option>
                            <option value="episode">Episode</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="year">Année</label>

                        <select type="text" class="form-control" placeholder="Search an year ..." name="year" id="exampleInput2">
                            {% for i in "now"|date("Y")..1900 %}
                           <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button class="btn btn-outline-success" type="submit">Recherche</button>
                </form>
            </li>
        </ul>
    </nav>
</div>