<div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="/"><i class="fa fa-video-camera" aria-hidden="true"></i> The Movie</a>
        <ul class="nav navbar-nav">
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form" role="search" action="" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search a film, series ..." name="title">
                    </div>
                    <div class="input-group">
                        <select name="type">
                            <option value="">Type</option>
                            <option value="movie">Film</option>
                            <option value="series">Série</option>
                            <option value="episode">Episode</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <select name="year">
                            <option value="">Année</option>
                            {% for i in "now"|date("Y")..1910 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </nav>
</div>